@tailwind base;
@tailwind components;
@tailwind utilities;

.font-cinzel {
    font-family: 'Cinzel', serif;
}
.font-inter {
    font-family: 'Inter', serif;
}
header a.active {
    color: #EEFF25;
}

/*SwipperJS*/
.swiper-pagination {
    position: static !important;
    margin-top: 8px
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}